.Grid {
  width: 60vh;
  height: 48vh;

}

.Grid-table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.Grid-table td {
  width: Calc(100% / 12);
  height: Calc(100% / 10);
  border: 1px solid black;
}

.Ship {
  width: 100%;
  height: 100%;
  background-color: brown;
}